body {
  background-color: #f2eafd;
  font-family: Roboto;
  user-select: none;
}
.header-title {
  text-align: center;
}
h1 {
  color: #5234bd;
}
.header-logo {
  text-align: center;
}
.logo {
  width: 30%;
}

#main {
  background-color: #714cd0;
  width: 70%;
  margin: auto;
  /* margin: 0px 200px 0px 100px; */
  border-radius: 10px;
}
.content {
  color: #f2eafd;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.strong {
  color: yellow;
  border-left: 4px solid;
  padding-left: 4px;
}
h2 + p ~ p {
  padding-left: 8px;
}
.cotent2 + p {
  padding-left: 0;
}
span {
  color: black;
  background-color: #fbecbf;
  padding-left: 3px;
  padding-right: 3px;
}
#footer {
  text-align: center;
  margin-top: 20px;
}
.down {
  background-color: #f1cb4f;
  padding: 3px;
}
.footer-contact {
  margin-top: 10px;
}
